@page "/"
@page "/login"
@layout BaseLayout
@inject NavigationManager NavManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthProvider
@attribute [AllowAnonymous]

<EditForm Model="@_user">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="@(_showLogin ? "active" : "inactive")" @onclick="() => _showLogin = true">Login</h2>
            <h2 class="@(_showLogin ? "inactive" : "active")" @onclick="() => _showLogin = false">Cadastro</h2>

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://cdn-icons-png.flaticon.com/128/5968/5968204.png" id="icon" alt="User Icon" />
            </div>

            @if (_showLogin)
            {
                <!-- Login Form -->
                <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email" @bind="@_user.Email">
                    <input type="text" id="password" class="fadeIn third" name="login" placeholder="Senha" @bind="@_user.Password" />
                    <input type="button" class="fadeIn fourth" value="Login" @onclick="LoginPost">
                </form>
            }
            else
            {
                <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email" @bind="@_user.Email">
                    <input type="text" id="userName" class="fadeIn second" name="userName" placeholder="Nome de Usuario" @bind="@_user.UserName">
                    <input type="text" id="password" class="fadeIn fourth" name="password" placeholder="Senha" @bind="@_user.Password" />
                    <input type="button" class="fadeIn fourth" value="Registrar" @onclick="RegisterPost">
                </form>
            }
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Esqueceu a senha ?</a>
            </div>

        </div>
    </div>
</EditForm>

@code {
    private User _user = new();
    public bool registrationSucess { get; set; }
    public bool _showLogin = true;
    public string? token;

    private async Task LoginPost()
    {
        try
        {
            using (HttpClient client = new HttpClient())
            {
                await LocalStorage.ClearAsync();

                string url = "https://localhost:7207/login";

                string jsonContent = JsonConvert.SerializeObject(_user, Formatting.Indented);

                var content = new StringContent(jsonContent, System.Text.Encoding.UTF8, "application/json");

                HttpResponseMessage response = await client.PostAsync(url, content);

                if (response.IsSuccessStatusCode)
                {
                    string responseContent = await response.Content.ReadAsStringAsync();

                    token = responseContent;

                    await ArmazenarLocalStorage("jwt", token);

                    await AuthProvider.GetAuthenticationStateAsync();

                    NavManager.NavigateTo("/index");
                }
            }
        }
        catch (Exception)
        {

            throw;
        }
    }


    private async Task ArmazenarLocalStorage(string key, string content)
    {
        await LocalStorage.ClearAsync();

        await LocalStorage.SetItemAsync(key, content);
    }

    private async Task RegisterPost()
    {
        try
        {
            using (HttpClient client = new HttpClient())
            {
                string url = "https://localhost:7207/register";

                string jsonContent = JsonConvert.SerializeObject(_user, Formatting.Indented);

                var content = new StringContent(jsonContent, System.Text.Encoding.UTF8, "application/json");

                HttpResponseMessage response = await client.PostAsync(url, content);

                if (response.IsSuccessStatusCode)
                {
                    registrationSucess = true;
                    await OnInitializedAsync();
                }
                else
                {
                    registrationSucess = false;
                }
            }
        }
        catch (Exception ex)
        {
            registrationSucess = false;
        }
    }
}

}
